aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiohttp-retry==2.8.3
aiosignal==1.4.0
aiosqlite==0.19.0
alembic==1.13.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.4.0
APScheduler==3.10.4
asciichartpy==1.5.25
asgiref==3.8.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
Babel==2.9.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==4.2.2
certifi==2024.6.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
class-registry==2.1.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.6
cowsay==6.1
cryptography==42.0.8
cv==1.0.0
Deprecated==1.2.15
dill==0.3.8
distro==1.9.0
Django==4.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
docopt==0.6.2
ecdsa==0.19.1
et-xmlfile==1.1.0
fastapi==0.128.0
feedparser==6.0.11
filters==1.3.2
flake8==6.1.0
Flask==3.0.0
Flask-Login==0.6.2
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
google-ai-generativelanguage==0.4.0
google-api-core==2.30.3
google-auth==2.50.0
google-generativeai==0.3.2
googleapis-common-protos==1.74.0
googletrans==4.0.0rc1
greenlet==3.0.3
grpcio==1.80.0
grpcio-status==1.62.3
gTTS==2.5.3
h11==0.14.0
h2==3.2.0
hacking==6.1.0
hpack==3.0.0
hstspreload==2024.7.1
httpcore==1.0.5
httpx==0.27.0
hyperframe==5.2.0
idna==2.10
image==1.5.33
insta-scrape==2.1.2
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
Js2Py==0.74
keyboard==0.13.5
lxml==5.2.2
magic-filter==1.0.12
Mako==1.3.12
MarkupSafe==2.1.5
mccabe==0.7.0
mcpi==1.2.1
messagebox==0.1.0
minecraft==0.1.2
MouseInfo==0.1.3
multidict==6.0.5
multiprocess==0.70.16
nbtlib==2.0.4
netaddr==1.3.0
nexmo==2.5.2
npm==0.1.1
numpy==2.0.1
ollama==0.6.2
openai==1.6.1
opencv-python==4.10.0.84
openpyxl==3.1.5
optional-django==0.1.0
outcome==1.3.0.post0
packaging==26.2
paramiko==3.4.1
passlib==1.7.4
pathos==0.3.2
phonenumbers==8.13.42
pillow==10.4.0
pipwin==0.5.2
pox==0.3.4
ppft==1.7.6.8
propcache==0.5.2
proto-plus==1.27.2
protobuf==4.25.9
psutil==7.2.2
psycopg2==2.9.10
psycopg2-binary==2.9.9
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
PyExecJS==1.5.1
pyflakes==3.1.0
pygame==2.6.1
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyJWT==2.9.0
PyMsgBox==2.0.1
PyNaCl==1.5.0
pyperclip==1.11.0
pypiwin32==223
pypng==0.20220715.0
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
PySimpleGUI==5.0.6
pySmartDL==1.3.4
PySocks==1.7.1
pyTelegramBotAPI==4.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.5.0
python-multipart==0.0.6
python-telegram-bot==13.10
pyttsx3==2.91
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
pywifi==1.1.12
pywin32==306
qrcode==7.4.2
realsense-cv2==0.0.1
regex==2024.7.24
requests==2.32.3
requirements.py==1.0.1
rfc3986==1.5.0
rsa==4.9
selenium==4.23.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.5
soupsieve==2.6
SpeechRecognition==3.10.4
speedtest-cli==2.1.3
SQLAlchemy==2.0.23
sqlparse==0.5.1
srt==3.5.3
starlette==0.50.0
telebot==0.0.5
telegram==0.0.1
tornado==6.4.2
tqdm==4.66.4
translators==5.9.2
trio==0.26.2
trio-websocket==0.11.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.1
tzlocal==5.2
unicorn==2.1.4
urllib3==2.2.2
uvicorn==0.40.0
vosk==0.3.45
websocket-client==1.8.0
websockets==16.0
Werkzeug==3.0.1
wifi-password==1.1.1
wrapt==1.17.0
wsproto==1.2.0
yarl==1.24.2
yookassa==3.10.1
youtube-dl==2021.12.17
